<div class="col-sm-offset-3 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">類型</h3>
    </div>
    <div class="panel-body">
      <%= resourse.label %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">金額</h3>
    </div>
    <div class="panel-body">
      <%= resourse.money %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">描述</h3>
    </div>
    <div class="panel-body">
      <%= resourse.description %>
    </div>
  </div>
</div>