<h1>Analyses#show</h1>
<p>Find me in app/views/analyses/show.html.erb</p>
<h2>all</h2>
<%= render 'records/list', records: @records %>
<h2>incomes</h2>
<%= render 'records/list', records: @incomes %>
<h2>expenses</h2>
<%= render 'records/list', records: @expenses %>
