<%= link_to t('back'), records_path, class: "btn btn-default pull-left" %>
<h1 class="text-center"><%= t("record.edit.#{@record.type.downcase}") %></h1>
<%= render 'form', record: @record, url: record_url %>
