<%= link_to "支出", account_expenses_path, class: "btn btn-default pull-right", role: "button" %>
<%= link_to "收入", account_incomes_path, class: "btn btn-default pull-right", role: "button" %>
<h1 class="page-header text-center">帳戶</h1>
<%= render 'account/components/list', resourses: @money %>
